body{
    width: 100%;
    height: 100%;
}

/* header de la page */
#gridDuHaut{
    display: grid;
    grid-template-columns: 3;
    width: 100%;
    height: auto;

}


/* taille des logo reseaux */
#logoReseauxHaut img, #logoReseauxBas img{
    width: 40px;
    height: 35px;
}

#menu{
    border: solid black 1px;
}

#menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#menu ul li, .livreANoter ul li, .livreNoter ul li, .participantNonEvaluer ul li, .participantEvaluer ul li, .juryNonEvaluer ul li, .juryEvaluer ul li {
    list-style-type: none;
}
    
#menu a{
    color:blueviolet;
}


/* milieu de page */
.en-tete{
    text-align: center;
}



#milieuDePage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#coloneGauche{
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;

}
#coloneDroite{
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;

}


#coloneGauche img, #coloneDroite img{
    width: 100px;
    height: 100px;
}
    


#reglement{
border: solid black 1px;
width: 300px;
height: auto;
}



/* page connection */

#connection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


/* page livre*/



#livrePageOeuvre{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: auto;
}

#livrePageOeuvre img{
    width: 60px;
    height: 80px;
}


/* page hisorique */


#pageHistorique span{
    margin: 60px;

}

#pageHistorique img{
    width: 60px;
    height: 60px;
}

/* pageDuGagnant */ 

.photo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
}

.photo img{
    width: 100px;
    height: 100px;
}

.lienAchat{
    position: absolute;
    right: 150px;
    color: blue;
}

.texteBio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.bio{
    width: 80%;
}


/* page demande jury/ auteur*/

.demandeAuteur, .demandeJury{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.demandeAuteur{
    float: left;
}

.demandeJury{
    float: right;
}



.genre{
    display: flex;
    flex-direction: row;
}



/* page auteur */
.pageAuteur, .pageJuryARemplir{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.uploadFile{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.uploadFile img{
    width: 70px;
    height: 90px;
}

.infoLivre, .milieuPageJury{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: auto;
}

#edition, #annees, #categorie, #livre, #ou, #choisir, .oui_non{
    margin: 15px;
}

#reglementAuteur{
    border: solid black 1px;
    width: 300px;
    height: 250px;
    overflow: auto;

    }

.footerAuteur{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitAuteur{
    margin-top: 50px;
    margin-left: 400px;
}

/* page jury a remplir */

.oui_non{
    display: flex;
    flex-direction: row;
    align-content: center;
}

#submitJury{
    margin-top: 50px;
    margin-left: 250px;
}

/* page jury */

#tableau{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 70%;
    border: solid black 1px;
    overflow: auto;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.livreANoter a, .btn a{
    color: blue ;
}

.bordureVertical{
    width: 1px;
    border-right: solid black 1px;
}


/* page livre a noté */
.pageLivreANoter{
    display: flex;
    flex-direction: row;
    
}

.photoAuteur{
    width: 300px;
}

.couvertureLivreANoter a{
    color: blue;
}

.couvertureLivreANoter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

.footerPageLivreANoter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* page Admin */

.pageAdmin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.participant, .jury{
    display: flex;
    flex-direction: column;
}

.participantNonEvaluer, .participantEvaluer, .juryNonEvaluer, .juryEvaluer{
    width: 200px;
    height: 200px;
    overflow: auto;
    border: solid black 1px;
    margin: 20px;
}

.participantNonEvaluer span, .participantEvaluer span, .juryNonEvaluer span, .juryEvaluer span{
    margin-left: 30px;
}