body{
    width: 100%;
    height: 100%;
}

/* header de la page */
#gridDuHaut{
    display: grid;
    grid-template-columns: 3;
    width: 100%;
    height: auto;

}


/* taille des logo reseaux */
#logoReseauxHaut img, #logoReseauxBas img{
    width: 40px;
    height: 35px;
}

#menu{
    border: solid black 1px;
}

#menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#menu ul li{
    list-style-type: none;
}
    
#menu a{
    color:blueviolet;
}


/* milieu de page */
.en-tete{
    text-align: center;
}



#milieuDePage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#coloneGauche{
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;

}
#coloneDroite{
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;

}


#coloneGauche img, #coloneDroite img{
    width: 100px;
    height: 100px;
}
    


#reglement{
border: solid black 1px;
width: 300px;
height: auto;
}



/* page connection */

#connection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


/* page livre*/



#livrePageOeuvre{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: auto;
}

#livrePageOeuvre img{
    width: 60px;
    height: 80px;
}


/* page hisorique */


#pageHistorique span{
    margin: 60px;

}

#pageHistorique img{
    width: 60px;
    height: 60px;
}

/* pageDuGagnant */ 

.photo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
}

.photo img{
    width: 100px;
    height: 100px;
}

.lienAchat{
    position: absolute;
    right: 150px;
    color: blue;
}

.texteBio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.bio{
    width: 80%;
}